main {
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, dodgerblue 20%, #1f2e51 );
    clip-path: polygon(0 0, 100% 0, 100% 36%, 0 60%);
}

header {
    display: grid;
    grid-template-columns: 20rem 1fr;
    position: relative;
}

.jpg {
    width: 20rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 5px;
}

.sidetab {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 1rem 2rem 1rem 1rem;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px -1px grey;
    border-radius: 0px 5px 5px 0px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.4rem;
}

p {
    line-height: 1.5;
}

svg {
    width: 1.3rem;
    height: auto;
}

h3 {
    margin: 0;
    font-size: 1.8rem;
}

/*MY WORK*/
.project__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

div[class^="pro__card"] {
    width: 1fr;
    height: 40vh;
    border-radius: 8px;
    box-shadow: 2px 2px 4px -1px grey;
    display: flex;
    flex-direction: column;
}

.pro {
    margin-top: 2rem;
}

section > p {
    font-size: 2rem;
    font-weight: bold;
}


/*FOOTER*/
footer {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 2rem;
    padding: 3rem;
    background: linear-gradient(135deg, dodgerblue 20%, #1f2e51 );
    color: white;
}

.footer__pic {
    width: 30vw;
    height: auto;
    border-radius: 5px;
}

footer p {
    width: 35ch;
    margin: 0;
}

.phone {
    display: flex;
    align-items: center;
    gap: 5px;
}

.mail {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 0.49rem;
}

.footer__icons {
    display: flex;
    gap: 1rem;
}

.card-img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0px 0px;
}

.project__img {
    flex: 2;
}

.project__description {
    flex: 1;
    margin-top: 5px;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.desc__head {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.svg__con {
    display: flex;
    gap: 0.7rem;
}

.desc__content {
    font-size: smaller;
    flex: 2;
    margin: 0;
    line-height: 1;
}

@media (500px <= width <= 1000px) {

    main {
        padding: 1rem 2rem;
        align-items: center;
    }

    main::before {
        z-index: -2;
    }

    header {
        display: block;
    }
    
    .project__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .jpg {
        width: 15rem;
        position: relative;
        left: calc(50% - 7.5rem);
        transform: translateY(20px) rotate(-12deg);
        z-index: -1;
    }

    .sidetab {
        border-radius: 5px;
    }

    .sidetab > h3 {
        text-align: center;
    }

    section > p {
        text-align: center;
    }

    .footer__pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (width < 500px) {

    main {
        padding: 1rem 2rem;
        align-items: center;
    }

    main::before {
        z-index: -2;
    }

    header {
        display: block;
    }
    
    h3 {
        text-align: center;
    }

    .project__container {
        grid-template-columns: 1fr;
    }

    .img-container {
        display: flex;
        justify-content: center;
    }

    footer {
        flex-direction: column;
    }

    .sidetab {
        border-radius: 5px;
    }

    .footer__pic {
        width: 100%;
    }

    .jpg {
        width: 12rem;
    }

    .pro {
        display: grid;
        justify-items: center;
    }

    svg {
        width: 1.1rem;
    }
}